*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html, body{
    height: 100%;
}

header .title{
    text-align: left;
    width: 90%;
    margin: 20px auto;

}

input[placeholder="Insira o incremento"]{
    display: none;
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
}

textarea[placeholder="Informe aqui a mensagem a ser decodificada!"]{
    display: none;
}

textarea{
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}
form{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

form .esquerda{
    width: 30%;
}

form .direita{
    width: 70%;
}

form button{
    width: 150px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}