*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

#canvas{
    width: 100%;
    position: absolute;
    z-index: -1;
}

html, body{
    height: 100%;
    background-color: #060601d0;
    color: #00FF95;
}

header{
    text-align: center;
    padding: 10px 0;
    background-color: #060601;
    color: white;
    margin-bottom: 60px;
}

header .title{
    width: 90%;
    margin: 0 auto;
    font-size: 22px;
}

span{
    font-size: 14px;
    color: rgb(145, 145, 145);
}

input[placeholder="Insira o incremento"]{
    display: none;
    max-width: 600px;
    border: 3px solid #00FF95;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
}

input{
    margin-bottom: 20px;
    border: 3px solid #00FF95;
    background-color: transparent;
    color: #00FF95;
    width: 600px;
}

textarea[placeholder="Informe aqui a mensagem a ser decodificada!"]{
    display: none;
    border: 3px solid #00FF95;
    background-color: transparent;
    color: #00FF95;
}

textarea{
    width: 600px;
    border: 3px solid #00FF95;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    background-color: transparent;
    color: #00FF95;
}
form{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

form .esquerda{
    width: 30%;
}

form .esquerda p{
    margin-bottom: 40px;
}

.mostraModulo{
    font-size: 30px;
    margin-bottom: 15px;
}

label{
    font-size: 22px;
    margin-bottom: 20px;
}

form .direita{
    width: 70%;
}

input[type='radio']{
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    z-index: 7;
    color: black;
    margin-bottom: 30px;
    margin-right: 12px;
}

form button{
    width: 150px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

form button:hover{
    background-color: white;
    color: black;
    border: 3px solid black;
}

.mostrarResultado{
    border: 3px solid #00FF95;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    word-wrap: break-word;
    width: 600px;
    height: 150px;
}

.mostrarResultado p{
    width: 100%;
    position: relative;
    word-wrap: break-word;
}